<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651968270272-j36rqlh6qjoqnrspkv14g55kr3qc3vnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651968270272-j36rqlh6qjoqnrspkv14g55kr3qc3vnr</string>
	<key>API_KEY</key>
	<string>AIzaSyBI2c57Xyg6jSPJeMq5Tr4t2LvORNdQf_s</string>
	<key>GCM_SENDER_ID</key>
	<string>651968270272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.BrisbanePoker</string>
	<key>PROJECT_ID</key>
	<string>gutshot-poker</string>
	<key>STORAGE_BUCKET</key>
	<string>gutshot-poker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651968270272:ios:61f1827f8b36790f</string>
	<key>DATABASE_URL</key>
	<string>https://gutshot-poker.firebaseio.com</string>
</dict>
</plist>